<div id="container">

    <div id="termos">
        <h2> TERMO</h2>
        
        <p>
        
            Lorem ipsum mi neque iaculis pharetra lorem aptent non, vitae per dictum lobortis pharetra viverra elementum, conubia amet lorem vivamus tellus odio non. at netus cubilia felis vel egestas conubia maecenas nullam condimentum, eget senectus at iaculis consectetur maecenas iaculis volutpat cursus, nec lobortis libero cubilia habitant mollis convallis eleifend. cursus lacinia suscipit molestie senectus eu sit praesent adipiscing ligula, pellentesque non tellus cubilia consequat diam pellentesque faucibus arcu, convallis ligula sem justo donec venenatis lectus nullam. libero tristique imperdiet faucibus proin duis suspendisse porta enim donec a at laoreet, adipiscing litora diam vivamus non accumsan at congue egestas non. 
        
        </p>
    </div>
        
    
    <hr>
    
    <input type="checkbox" [(ngModel)]="termoAceito"> Li e aceito os termos e condições acima
    
    <br>
    
    <button style="background-color: #FB8C00 !important;color:white" mat-raised-button (click)="carregaCadastroRealizado()">OK, ENTENDI</button>

    
</div>
